---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import { toAnchorId } from '../utils'

type Props = CollectionEntry<'project'>['data']

const { title, description, pubDate, repo, image } = Astro.props
const imgSrc = `/project-assets/${image}`

// executed ONLY AT BUILD TIME if SSR is turned off. This is
// intentional.
const apiUrl = `https://api.github.com/repos/nguyenvukhang/${repo}`
const response = await fetch(apiUrl).then((v) => v.json())

// TODO: include this in the presentation
const starCount = response.stargazers_count

const shortDate = pubDate.toLocaleDateString('en-us', {
  year: 'numeric',
  month: 'short',
})
---

<div class="flex flex-row items-end pb-3">
  <h2 class="mr-2 pb-0" id={toAnchorId(title)}>{title}</h2>
  <span class="text-fg-dim text-sm">{shortDate}</span>
</div>
<div
  class:list={[
    'md:flex-row md:items-start md:space-x-4',
    'flex flex-col items-center',
  ]}
>
  <div class="md:basis-2/3 text-sm text-fg-700">
    <slot />
  </div>
  <div class="md:basis-1/3">
    <img class="object-contain w-full" src={imgSrc} />
  </div>
</div>

<!-- styles -->
<style>
  a {
    color: red;
    @apply text-red-400;
  }
</style>
