---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import { toAnchorId } from '../utils'

type Props = CollectionEntry<'project'>['data']

const { title, description, pubDate, repo, image } = Astro.props
const imgSrc = `/project-assets/${image}`

// executed ONLY AT BUILD TIME if SSR is turned off. This is
// intentional.
const apiUrl = `https://api.github.com/repos/nguyenvukhang/${repo}`
const response = await fetch(apiUrl).then((v) => v.json())

// TODO: include this in the presentation
const starCount = response.stargazers_count
---

<article>
  <h1 class="title" id={toAnchorId(title)}>{title}</h1>
  <hr />
  <img class="object-cover h-48 w-96" src={imgSrc} />
  <slot />
</article>
