---
type Props = CollectionEntry<'articles'>['data'] & { slug: string }

const { pubDate, title, description, slug } = Astro.props
const dateCss = 'text-sm text-fg1 font-mono whitespace-nowrap'
---

<div class="flex flex-row">
  <div class:list={['mt-1 w-28 sm:block hidden', dateCss]}>{pubDate}</div>
  <div class="mb-8">
    <div>
      <a href={`/articles/${slug}/`} class="no-underline text-fg0">{title}</a>
      <div class:list={['inline sm:hidden', dateCss]}>{pubDate}</div>
    </div>

    <div class="italic text-sm text-fg1">{description}</div>
  </div>
</div>
